{% extends 'bootstrap.html.twig' %}
{% block meta %}
    <meta name="description" content="{{'meta.home.description'|trans}}" />
    <!--add your personnal meta like open graph-->
{% endblock %}   
{% block body %}
    <header class='header'>
        <div class="container text-center" >
            <h1 class="text-center">{{'home.title'|trans}}</h1><hr class="text-center"/>
            <div class='row'> 

                <p class="text-center">{{'home.description'|trans}}</p>
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        <h2 class='info'>{{ message }}</h2>
                    </div>
                {% endfor %}
            </div>
            <div class='row'><script async 
                src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- frAnnuaire -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9603593050456448"
                     data-ad-slot="5109858557"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script></div> 
        </div>
    </header>
    <div class="container">
        <div class=' inscription'>
            Inscrivez-vous dans notre annuaire, c'est gratuit! <a href="{{path('basic')}}" class="btn btn-dark" role="button" title="référencer votre site">Soumettre un site</a>
        </div>
    </div>
    <div class="container">
        {% set vars = {'webSites': webSites} %}
        {% include 'annuaire/categorySite.html.twig' with vars %}

    </div>  


    {{ render(controller(
        'AppBundle:Annuaire:listcategory'
    )) }}

{% endblock %}


