<div class='row rowAdminBoarder'> 
    <div class="col">
        <a href="{{ path('validate') }}" title="link to validate" class='linkAdmin' >
            <img class="icon" src="{{ asset('img/Entypo+/add-to-list.svg') }}" alt="Add to list pictogram"><br />
            {{ 'admin.link.tovalidate'|trans}}
        </a>
    </div>
    <div class="col">
        <a href="{{path('admin-category-list')}}" class='linkAdmin'>
            <img class="icon" src="{{ asset('img/Entypo+/feather.svg') }}" alt="Feather pictogram">
            <br />
            {{ 'admin.link.content'|trans}}
        </a>
    </div>
    <div class="col">
        <img class="icon" src="{{ asset('img/Entypo+/funnel.svg') }}" alt="Funnel pictogram">
        <br />
        {{ 'admin.link.findupdate'|trans}}
    </div>
</div>
<div class='row rowAdminBoarder'> 
    <div class="col">
        <a href="{{path('checkonline')}}" class='linkAdmin'>
            <img class="icon" src="{{ asset('img/Entypo+/link.svg') }}" alt="infinity">
            <br />
            {{ 'admin.link.check'|trans}}</a>
    </div>
    <div class="col">
        <a href="{{path('keywords')}}" class='linkAdmin'>
            <img class="icon" src="{{ asset('img/Entypo+/edit.svg') }}" alt="Edit pictogram">
            <br />
            {{ 'admin.link.keywords'|trans}}
        </a>
    </div>
    <div class="col">
        <img class="icon" src="{{ asset('img/Entypo+/tools.svg') }}" alt="tools pictogram">
        <br />
        {{ 'admin.link.configuration'|trans}}
    </div>
</div>
<div class='row rowAdminBoarder'> 
    <div class="col">
        <img class="icon" src="{{ asset('img/Entypo+/circle-with-plus.svg') }}" alt="Circle with plus pictogram">
        <br />
        {{ 'admin.link.addon'|trans}}
    </div>
    <div class="col">
        <a href="{{path('banned')}}" class='linkAdmin'>
            <img class="icon" src="{{ asset('img/Entypo+/block.svg') }}" alt="Light bulb pictogram">
            <br />
            {{ 'admin.link.banned'|trans}}
        </a>
    </div>
    <div class="col">
        <a class="linkAdmin" href="{{ path('fos_user_security_logout') }}">
        <img class="icon" src="{{ asset('img/Entypo+/log-out.svg') }}" alt="disconnect">
        <br />
        {{'admin.link.logout'|trans}}
        </a>
    </div>
</div>