{% extends 'bootstrap.html.twig' %}

{% block body %}
    <header class='header'>
        <div class="container text-center" >
            <h1 class="text-center">{{'admin.link.banned'|trans}}</h1><hr class="text-center"/>
            {% include 'admin/adminpannel.html.twig' %}
            {% if message is defined and message is not empty  %}
                <div class='row'> 
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <div class="container adminBoarder">


        {% for site in webSites%}   
            <div class='row rowAdminBoarder {% if loop.index is divisibleby(2) %}td-odd{% else %}td-even{% endif %}' style='color:#fff;'>
                <div class='col-lg-2'><a href="{{ path('isvalid', {'id': site.id})}}" class='btn btn-primary '>{{'validate'}}</a>
                    <a href="{{ path('refuse', {'id': site.id})}}" class='btn btn-warning '>{{'refuse'}}</a>
                </div>
                <div class='col-lg-3'>{{site.name}} - <a href='{{site.url}}'>{{site.url}}</a></div>
                <div class='col-lg-7'>{{site.description}}</div>
            </div>
        {% endfor %}    

    </div>

{% endblock %}
