{% extends 'bootstrap.html.twig' %}

{% block body %}
    <header class='header'>
        <div class="container text-center" >
            <h1 class="text-center">{{'admin.link.tovalidate'|trans}}</h1><hr class="text-center"/>
            {% include 'admin/adminpannel.html.twig' %}
            {% if message is defined and message is not empty  %}
                <div class='row'> 
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <div class="container adminBoarder">
        <div class='row headBoard'>
            <div class='col-lg-2'>{{'site.action'|trans}}</div>
            <div class='col-lg-2'>{{'site.title'}}</div>
            <div class='col-lg-8'>{{'site.description'|trans}}</div>
        </div>
        {% for site in webSites%}
            {% if site.prio %}
                <div class='row rowAdminBoarder premium'> 
                {% else %}       
                    <div class='row rowAdminBoarder '>
                    {% endif %}   

                    <div class='col-lg-2'><a href="{{ path('isvalid', {'id': site.id})}}" class='btn btn-primary '>{{'validate'}}</a>
                        <a href="{{ path('refuse', {'id': site.id})}}" class='btn btn-warning '>{{'refuse'}}</a>
                        {% if site.prio %}
                            <img class="icon" src="{{ asset('img/Entypo+/star.svg') }}" alt="Star pictogram" title='premium member'>    
                        {% endif %}
                    </div>
                    <div class='col-lg-2'>{{site.name}} - <a href='{{site.url}}'>{{site.url}}</a></div>
                    <div class='col-lg-8'>{{site.description}}</div>
                </div>
            {% endfor %}     

        </div>  
    </div>


    {% endblock %}
