<div class='row rowAdminBoarder' style='color:#fff;'>
    <div class='col'>{{'action'|trans}}</div>
    <div class='col'>{{'category.name'|trans}}</div>
    <div class='col'>{{'category.child'|trans}}</div>
</div>
{% block javascripts %}
    <script>
function deleteCat(chemin){
    $retour =  confirm("{{'category.delete.confirm'|trans}}");
    if ($retour){
         window.location.href = chemin;
    }
}
</script>
{% endblock %}
{% for category in categories %}
    <div class='row rowAdminBoarder {% if loop.index is divisibleby(2) %}td-odd{% else %}td-even{% endif %}' style='color:#fff;'  >
        <div class='col' >
            <a href="{{ path('admin-category-update', {'id': category.id }) }}" class="">
                <img  class="icon-small white" src="{{asset('img/Entypo+/new-message.svg')}}" alt="New message pictogram">
            </a>
            <a href="#" class="" onclick="deleteCat('{{ path('admin-category-delete', {'id': category.id }) }}')">
                <img  class="icon-small trach" src="{{asset('img/Entypo+/trash.svg')}}" alt="Trash pictogram">
            </a>
        </div>
        <div class='col'>{{category.name}}</div>
        <div class='col'>
            {% if(category.child>0) %}
                <a href="{{ path('admin-category-list', {'id': category.id }) }}" class="btn btn-primary">
                    {{'child'|trans}} 
                    <span class="badge badge-pill badge-dark">{{category.child}}</span>
                </a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
{% endfor %}    
