{% extends 'bootstrap.html.twig' %}

{% block body %}
    <header class='header'>
        <div class="container text-center" >
            <h1 class="text-center">{{'admin.dashboard.title'|trans}}</h1><hr class="text-center"/>
            {% include 'admin/adminpannel.html.twig' %}

        </div>
    </div>
</header>

<div class="container">
    <h1>{{'category'|trans}}</h1>
</div>
<div class="container">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

</div>

{% endblock %}
