{% extends 'bootstrap.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{'suscription.basic'|trans}}</h1>
    </div>
    <div class="container">
        {{ form_errors(form) }}
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_row(form.name) }}
        </div>
        <div class="form-group">
            {{ form_row(form.url) }}
        </div>
        <div class="form-group">
            {{ form_row(form.email) }}
        </div>
        <div class="form-group">
            {{ form_row(form.category) }}
        </div>
        <div class="form-group">
            {{ form_row(form.image) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
        <div class="form-group">
            {{ form_row(form.captcha) }}
        </div>
        <div class="form-group">
            {{ form_row(form.save) }}
        </div>

        {{ form_end(form) }}

    </div>  

{% endblock %}


