{% extends 'bootstrap.html.twig' %}

{% block body %}
    <header class='header'>
        <div class="container">
            <div class='row'> 
                <h2>{{'category'|trans}} <small> {{selectCategory.name}}</small></h2>
            </div>
            <div class='row' style='color:#000;background-color: rgba(255,255,255,0.4);margin: 10px 0 10px 0;padding: 10px;text-align: justify;'>
                <style>h3{display:none;} h2{color:#fff;}</style>
                {% if textCategory.catexText is defined and textCategory.catexText is not empty %}
                    {{textCategory.catexText|raw}}
                {% else %}
                    {{'textCategoryEmpty'|trans}}   
                {% endif %}
            </div>
        </div>
        <div class="container">
            {% if categories is defined  and categories is not empty  %}
                <div class='row'><h2>{{'category.subcategory'|trans}}</h2></div>
                <div class='row'> 
                    {%for cat in categories%}
                        {% if loop.index is divisible by(5) %}
                        </div> <div class='row'> 
                            <div class="col" style='color:#000;'>
                                <a href="{{ path('_category', {'id': cat.id}) }}" style='color:#fff;'>{{cat.name}}</a>
                            </div> 

                        {% else %}
                            <div class="col" style='color:#fff;'>
                                <a href="{{ path('_category', {'id': cat.id}) }}" style='color:#fff;'>{{cat.name}}</a>
                            </div>
                        {% endif %}

                    {%endfor %}    

                </div>

            {% else %}
                <div class='row'><h2>{{'category.emptySub'|trans}}</h2></div>
                    {% endif %}
        </div>
    </header>

    <div class="container">
        {% set vars = {'webSites': webSites} %}
        {% include 'annuaire/categorySite.html.twig' with vars %}
        
    </div>                   
{% endblock %}

