{% if webSites is defined  and webSites is not empty  %}
    <div class='row'>
        <h2>{{'category.sites'|trans}}</h2>
    </div>
    <div class='row'> 

        {% for site in webSites%}      
            {% if loop.index is divisible by(2) or  loop.first %}
            </div> <div class='row'> 
                <div class='col'>
                    <div class='row'>
                        {% if site.image is not empty %}
                            <div class='col'><img width='150px;' src='{{site.image}}' alt='thumb {{site.name}}' class="img-thumbnail img-fluid " /></div>
                            {% else %}
                            <div class='col'><img width='150px;' src='{{ asset('img/no_image_available.svg')}}' alt='default thumb' class="img-thumbnail img-fluid " /></div>
                            {% endif %}
                        <div class='col'>
                            <a href='{{site.url}}' target='_blank' title='{{site.description|length > 50 ? (site.description[:50] ~ '…') : site.description }}'>{{site.name}}</a> 
                            <p>{{site.description|length > 150 ? (site.description[:150] ~ '…') : site.description }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class='col'>
                    <div class='row'>
                        {% if site.image is not empty %}
                            <div class='col'><img width='150px;' src='{{site.image}}' alt='thumb {{site.name}}' class="img-thumbnail img-fluid " /></div>
                            {% else %}
                            <div class='col'><img width='150px;' src='{{ asset('img/no_image_available.svg')}}' alt='default thumb' class="img-thumbnail img-fluid " /></div>
                            {% endif %}
                        <div class='col'>
                            <a href='{{site.url}}' target='_blank' title='{{site.description|length > 50 ? (site.description[:50] ~ '…') : site.description }}'>{{site.name}}</a> 
                            <p>{{site.description|length > 150 ? (site.description[:150] ~ '…') : site.description }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}   
    </div>    
{% else %}

{% endif %}    