{% extends 'bootstrap.html.twig' %}
{% block meta %}
    <title>{{'home.title'|trans}} - {{selectCategory.name}}</title>
    {% if textCategory.catexText is defined and textCategory.catexText is not empty %} 
        <meta name="description" content=" {{textCategory.catexText|length > 50 ? textCategory.catexText|slice(0, 160) ~ '...' : textCategory.catexText }}" />
    {% else %}  
        <meta name="description" content="{{selectCategory.name}} - {{'textCategoryEmpty'|trans}}   " />
    {% endif %}
    
{% endblock %}
{% block body %}
    <header class='header'>
        <div class="container">
            <div class='row'>
                <div class='col-lg-8 col-md-12 col-sm-12'>
                    <div class="row"><h1>{{'slogan'|trans}}</h1></div>
                    <div class='row'> 
                        <h2>{{'category'|trans}} <small> {{selectCategory.name}}</small></h2>
                    </div>
                    <div class='row headCategory'>
                        <style>h3{display:none;} h2{color:#fff;}</style>
                        {% if textCategory.catexText is defined and textCategory.catexText is not empty %}
                            {{textCategory.catexText|raw}}
                        {% else %}
                            {{'textCategoryEmpty'|trans}}   
                        {% endif %}
                    </div>
                </div>
                <div class='col-lg-4 col-md-12 col-sm-12 subcategory '  style=''>
                    <div class="container">
                        {% if categories is defined  and categories is not empty  %}
                            <div class='row'><h2>{{'category.subcategory'|trans}}</h2></div>
                            <div class='row'> 
                                {%for cat in categories%}
                                    <div class="col" style='color:#fff;'>
                                        <img src="{{ asset('../img/catego.png') }}" width="12" height="13" alt="Les catégories de l'annuaire" />
                                        <a href="{{ path('_category', {'id': cat.id}) }}" style='color:#fff;'>{{cat.name}}</a>
                                    </div>               
                                    {% if loop.index is divisible by(2)  %}
                                    </div> <div class='row'> 
                                    {% endif %}
                                {%endfor %}  

                            </div>

                        {% else %}
                            <div class='row'><h2>{{'category.emptySub'|trans}}</h2></div>
                                {% endif %}
                    </div>    
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% set vars = {'webSites': pagination} %}
        {% include 'annuaire/categorySite.html.twig' with vars %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>    



{% endblock %}

