{% extends 'bootstrap.html.twig' %}
{% block meta %}
    <title>{{category.getName}} - {{webSites.name}}</title>

    <meta name="description" content="{{webSites.description|length > 50 ? webSites.description|slice(0, 160) ~ '...' : webSites.description }}   " />

{% endblock %}
{% block body %}
    <!-- Header details -->
    <header class='header' >
        <div class="container">
            <div class='row' ng-controller="hitsController">

                {% if webSites is defined %}      

                    <div class='row' >
                        <div class='col-lg-2'>
                            <div class="row">
                                {% if webSites.image is not empty %}
                                    <div class='col'><img width='150px;' src='{{webSites.image}}' alt='thumb {{webSites.name}}' class="img-thumbnail img-fluid " /></div>
                                    {% else %}
                                    <div class='col'><img width='150px;' src='{{ asset('img/no_image_available.svg')}}' alt='default thumb' class="img-thumbnail img-fluid " /></div>
                                    {% endif %}
                            </div>
                            {% set avgRating = webSites.ratingvalue / webSites.vote %}
                                    Note moyenne : {{avgRating}} / 5
                            <div class="row rating">
                                
                                <span class="rate" data-rating='5'>☆</span><span class="rate" data-rating='4'>☆</span><span class="rate" data-rating='3'>☆</span><span class="rate" data-rating='2'>☆</span><span class="rate" data-rating='1'>☆</span>
                            </div>
                        </div>

                        <div class='col' >
                            <div class='row-fluid'>
                                <h2><a href='{{webSites.url}}' id='hit'  target='_blank' title='{{webSites.description|length > 50 ? (webSites.description[:50] ~ '…') : webSites.description }}'>{{webSites.name}}</a>
                                </h2> 
                            </div>
                            <div class='col'>
                                {{webSites.description|raw }}
                            </div>

                        </div>
                    </div>

                    <script type="application/ld+json">
                        {
                        "@context": "http://schema.org",
                        "@type": "WebSite",
                        "url": "{{webSites.url}}"
                        }
                    </script>

                {% endif%}   

            </div>
            <div class='row'>

            </div>
    </header>
    <!-- End Header details -->

    <!-- Collapse details -->
    <p>
        <a class="btn btn-primary " data-toggle="collapse" href="#comments" aria-expanded="true" aria-controls="multiCollapseExample1">{{'Comments'|trans}}&nbsp;<span class="badge badge-light">{{nbComments}}</span></a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rss" aria-expanded="false" aria-controls="multiCollapseExample1">{{'rss'|trans}}</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="comments">
                <div class="card card-body"> 
                    {% if comments is empty %}
                        {{'nocomments'|trans}}
                    {% else %}
                        {% for comment in comments %}
                            <div class='row'>
                                <p>{{'commentof'|trans}} <time datetime="{{comment.date|date('d/m/Y') }}">{{comment.date|date('d/m/Y') }}</time></p>
                                        {{comment.message}}
                            </div>
                        {% endfor %} 

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="rss">
                <div class="card card-body"> 
                    {% if rss is empty %}
                        {{'norss'|trans}}
                    {% else %}
                        {% for item in rss %}
                            <a href='{{ item.link }}'> {{ item.title }}</a>
                            {{ item.description|raw }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $("#hit").click(function () {
            $.get("{{ path('hits-update', {'id':webSites.id}) }}", function (data) {
                console.log(data);
            });
        });
        $(".rate").click(function () {
            var ratingValue = $(this).data("rating");
   
            $.post("{{ path('rating-update', {'id':webSites.id} ) }}", {rating: ratingValue}).done(function (data){
                        console.log(data);
                
            });
        });
    </script>

    <style>.rating > span:hover:before {
            content: "\2605";
            position: absolute;
        }
        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
        }
        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }
        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            font-size: 2em;
        }
        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.1em;
        }
        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
            color:#ff0;
        }
    </style>
{% endblock %}