<div class="container">
    {% if categories is defined  and categories is not empty  %}
        <div class='row'><h2>{{'category.subcategory'|trans}}</h2></div>
        <div class='row'> 
            {%for cat in categories%}
                {% if loop.index is divisible by(5) %}
                </div> <div class='row'> 
                    <div class="col" style='color:#000;'>
                        <a href="{{ path('_category', {'id': cat.id}) }}" style='color:#fff;'>{{cat.name}}</a>
                    </div> 

                {% else %}
                    <div class="col" style='color:#fff;'>
                        <a href="{{ path('_category', {'id': cat.id}) }}" style='color:#fff;'>{{cat.name}}</a>
                    </div>
                {% endif %}

            {%endfor %}    

        </div>

    {% else %}
        <div class='row'><h2>{{'category.emptySub'|trans}}</h2></div>
            {% endif %}
</div>
